.hero-section {
  margin: 0px 50px;
  margin-top: 50px;

  .hero-text {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    line-height: 100px;
    .text-orange {
      color:  orangered;
    }
  }

  .hero_explore {
    background: #fff;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 60px;
    margin-top: 30px;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .hero_dot_play {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 100%;
    .hero_dots {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      margin-bottom: 10px;
      .hero_dot {
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 7.5px;
        cursor: pointer;
        transition: 0.3s;
        &.orange {
          background: orangered;
        }
      }
    }

    .hero_play {
      display: flex;
      gap: 30px;
      align-items: center;
      p {
        color: #fff;
        font-size: 19px;
      }
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}

/* Media Queries for smaller screens */
@media (max-width: 1024px) {
  .hero-section {
    margin: 0 20px;
    margin-top: 30px;

    .hero-text {
      font-size: 40px;
      line-height: 80px;
    }

    .hero_explore {
      gap: 30px;
      padding: 5px 8px;
      margin-top: 20px;
      img {
        width: 35px;
        height: 35px;
      }
    }

    .hero_dot_play {
      flex-direction: column;
      align-items: center;
      .hero_dots {
        gap: 10px;
      }
      .hero_play {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        p {
          font-size: 16px;
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    margin: 0 10px;
    margin-top: 70px;

    .hero-text {
      font-size: 20px;
      line-height: 40px;
      .herotitle {
        color: orangered;
      }
      .heroSubtitle {
        color: #fff;
      }
    }

    .hero_explore {
      width: 50%;
      gap: 20px;
      padding: 5px 10px;
      justify-content: center;
      margin-top: 15px;
      img {
        width: 30px;
        height: 30px;
      }
    }

    .hero_dot_play {
      .hero_dots {
        gap: 10px;
      }
      .hero_play {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        p {
          font-size: 14px;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
